{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>
        {% block head_title %}My Blog{% endblock head_title %}
    </title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="{% static '/css/base.css' %}">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        {% block style %}
        {% endblock style%}
    </style>
    {% block head_extra %} {% endblock head_extra %}
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.8";
    fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
      {% include "messages_display.html" %}

      <div class="container">
          {% block content %}

          {% endblock content %}
      </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"
     integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
      crossorigin="anonymous">
    </script>
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.6/marked.min.js"></script>
    <script type="text/javaScript">
        $(document).ready(function(){
            $(".content-markdown").each(function(){
                var content = $(this).text()
                // console.log(content)
                var markedContent = marked(content)
                // console.log(markedContent)
                $(this).html(markedContent)
            })
            $(".post-detail-item img").each(function(){
                $(this).addClass("img-responsive");
            })

            var titleInput = $("#id_title");
            // $("#preview-title").text(titleItem.val())

            var contentInput = $("#id_content");
            // $("#preview-content").html(marked(contentItem.val()))
            // console.log(titleItem)

            function setContent(value){
                var markedContent = marked(value)
                $("#preview-content").html(markedContent)
                $("#preview-content img").each(function(){
                    $(this).addClass("img-responsive")
                })
            }
            setContent(contentInput.val())

            contentInput.keyup(function(){
                var newContent = $(this).val()
                setContent(newContent)
            })

            function setTitle(value){
                $("#preview-title").text(value)
            }
            setTitle(titleInput.val())

            titleInput.keyup(function(){
                var newTitle = $(this).val()
                setTitle(newTitle)
            })
        })
    </script>
  </body>
</html>
